<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!--借助 SpringAOP 扫描那些使用 Shiro 注解的类,我这里是对controller进行扫描 -->
    <aop:config></aop:config>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <!-- 配置 Bean 后置处理器: 会自动的调用和 Spring 整合后各个组件的生命周期方法. -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- 开启Shiro的注解(如@RequiresRoles,@RequiresPermissions),需借助SpringAOP扫描使用Shiro注解的类,并在必要时进行安全逻辑验证 -->
    <bean
            class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
            depends-on="lifecycleBeanPostProcessor">
        <property name="proxyTargetClass" value="true"/>
    </bean>

    <bean
            class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

    <!-- 使用注解配置的，如果没有权限或抛异常，所以这里对异常处理 -->
    <bean
            class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <!-- 这里你可以根据需要定义N多个错误异常转发 -->
                <!--没有权限错误跳转-->
                <prop key="org.apache.shiro.authz.UnauthorizedException">redirect:/error1.jsp</prop>
                <!-- 没有登陆错误跳转-->
                <prop key="org.apache.shiro.authz.UnauthenticatedException">redirect:/error2.jsp</prop>
                <prop key="java.lang.IllegalArgumentException">/error3.jsp</prop>  <!-- 参数错误(bizError.jsp) -->
                <prop key="java.lang.Exception">/error4.jsp</prop>  <!-- 其他错误为‘未定义错误‘(unknowError.jsp) -->
            </props>
        </property>
    </bean>

</beans>