<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stock.mapper.InwarehouseMapper">
  <resultMap id="BaseResultMap" type="com.stock.domain.Inwarehouse">
    <!--@mbg.generated generated on Tue Aug 27 16:00:48 CST 2019.-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="warehouseid" jdbcType="INTEGER" property="warehouseid" />
    <result column="commodityid" jdbcType="INTEGER" property="commodityid" />
    <result column="merchantid" jdbcType="INTEGER" property="merchantid" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="time" jdbcType="DATE" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Aug 27 16:00:48 CST 2019.-->
    id, warehouseid, commodityid, merchantid, num, `time`
  </sql>
</mapper>