<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.RolePermisMapper">
  <resultMap id="BaseResultMap" type="com.domain.RolePermis">
    <!--@mbg.generated generated on Fri Aug 16 11:10:05 CST 2019.-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="roleid" jdbcType="INTEGER" property="roleid" />
    <result column="permisid" jdbcType="INTEGER" property="permisid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Fri Aug 16 11:10:05 CST 2019.-->
    id, roleid, permisid
  </sql>


  <insert id="insertRolePermis">
    insert into role_permis(roleid, permisid) values
        <foreach collection="list" item="rolePermisList" separator=",">
          (#{rolePermisList.roleid} ,#{rolePermisList.permisid})
        </foreach>
  </insert>

</mapper>