<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stock.mapper.SaletableMapper">
  <resultMap id="BaseResultMap" type="com.stock.domain.Saletable">
    <!--@mbg.generated generated on Tue Aug 27 16:01:01 CST 2019.-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="commodityid" jdbcType="INTEGER" property="commodityid" />
    <result column="salenum" jdbcType="INTEGER" property="salenum" />
    <result column="locknum" jdbcType="INTEGER" property="locknum" />
    <result column="saleednum" jdbcType="INTEGER" property="saleednum" />
    <result column="activitynum" jdbcType="INTEGER" property="activitynum" />
    <result column="presellnum" jdbcType="INTEGER" property="presellnum" />
    <result column="merchantid" jdbcType="INTEGER" property="merchantid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Aug 27 16:01:01 CST 2019.-->
    id, commodityid, salenum, locknum, saleednum, activitynum, presellnum, merchantid
  </sql>
  <update id="addActivityNum">
    update saletable set activitynum=activitynum+#{param3},salenum=salenum-#{param3}
    where  merchantid=#{param1} and commodityid=#{param2}
  </update>
</mapper>