<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stock.mapper.SoldoutRecordMapper">
  <resultMap id="BaseResultMap" type="com.stock.domain.SoldoutRecord">
    <!--@mbg.generated generated on Fri Sep 06 14:53:30 CST 2019.-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sku_id" jdbcType="INTEGER" property="skuId" />
    <result column="merchant_id" jdbcType="INTEGER" property="merchantId" />
    <result column="saleed_num" jdbcType="INTEGER" property="saleedNum" />
    <result column="soldout_time" jdbcType="TIMESTAMP" property="soldoutTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Fri Sep 06 14:53:30 CST 2019.-->
    id, sku_id, merchant_id, saleed_num, soldout_time
  </sql>
  <insert id="insertSaletableServices">
    insert into soldout_record(sku_id,merchant_id,saleed_num,soldout_time)
    values
    <foreach collection="list" separator="," item="item">
      (#{item.skuId,jdbcType=INTEGER} ,#{item.merchantId,jdbcType=INTEGER} ,
      #{item.saleedNum,jdbcType=INTEGER} ,#{item.soldoutTime,jdbcType=TIMESTAMP} )
    </foreach>
  </insert>


</mapper>