<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stock.mapper.WarehouseMapper">
    <resultMap id="BaseResultMap" type="com.stock.domain.Warehouse">
        <!--@mbg.generated generated on Tue Aug 27 16:01:10 CST 2019.-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="commodityid" jdbcType="INTEGER" property="commodityid"/>
        <result column="warehouseid" jdbcType="INTEGER" property="warehouseid"/>
        <result column="unissue_inventorynum" jdbcType="INTEGER" property="unissueInventorynum"/>
        <result column="issue_inventorynum" jdbcType="INTEGER" property="issueInventorynum"/>
        <result column="unable_inventorynum" jdbcType="INTEGER" property="unableInventorynum"/>
        <result column="lock_inventorynum" jdbcType="INTEGER" property="lockInventorynum"/>
        <result column="went_inventorynum" jdbcType="INTEGER" property="wentInventorynum"/>
        <result column="merchantid" jdbcType="INTEGER" property="merchantid"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Tue Aug 27 16:01:10 CST 2019.-->
        id, commodityid, warehouseid, unissue_inventorynum, issue_inventorynum, unable_inventorynum,
        lock_inventorynum, went_inventorynum, merchantid
    </sql>
    <update id="salesReturn">

    </update>

    <update id="updateWareHouse">
        <foreach collection="list" item="i" separator=";">
            update warehouse.warehouse set unissue_inventorynum=unissue_inventorynum+#{i.num}
            where
            commodityid=#{i.commodityid} and warehouseid=#{i.warehouseid} and merchantid=#{i.merchantid}
        </foreach>
    </update>


    <update id="updateInventorynumByWarehouse" parameterType="list">
        <foreach separator=";" index="index" item="i" collection="list">
            update warehouse
            <set>
                unissue_inventorynum=(unissue_inventorynum-#{i.num,jdbcType=INTEGER}),issue_inventorynum=(issue_inventorynum+#{i.num,jdbcType=INTEGER})
            </set>
            where commodityid=#{i.commodityid,jdbcType=INTEGER} and merchantid=#{i.merchantid,jdbcType=INTEGER} and warehouseid=#{i.warehouseid}
        </foreach>

    </update>
</mapper>