<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stock.mapper.WarehouseMapper">
	<update id="salesReturn">
        <foreach collection="list" item="i" separator=";">
            update warehouse set
            went_inventorynum=went_inventorynum-#{i.num},lock_inventorynum=lock_inventorynum+#{i.num}
            where
            commodityid=#{i.commodityid} and warehouseid=#{i.warehouseid} and merchantid=#{i.merchantid}
        </foreach>
    </update>
    <update id="updateWareHouse">
        <foreach collection="list" item="i" separator=";">
            update warehouse.warehouse set unissue_inventorynum=unissue_inventorynum+#{i.num}
            where
            commodityid=#{i.commodityid} and warehouseid=#{i.warehouseid} and merchantid=#{i.merchantid}
        </foreach>
    </update>
	<update id="updateInventorynumByWarehouse" parameterType="list">
        <foreach separator=";" index="index" item="i" collection="list">
            update warehouse
            <set>
                unissue_inventorynum=(unissue_inventorynum-#{i.num,jdbcType=INTEGER}),issue_inventorynum=(issue_inventorynum+#{i.num,jdbcType=INTEGER})
            </set>
            where commodityid=#{i.commodityid,jdbcType=INTEGER} and merchantid=#{i.merchantid,jdbcType=INTEGER} and warehouseid=#{i.warehouseid}
        </foreach>

    </update>
	</mapper>