<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url:"selSale?pageNum=1",
                success:function(data){
                    lists=data.list;
                    if (lists!=null) {
                         for (var i = 0; i < lists.length; i++) {
                             var n=lists[i];
                             $("#sale").append("<tr><td>"+n.id+"</td><td>"+n.saleNum+"</td><td><a onclick='addactive'>添加活动</a></td></tr>");
                         }
                    }
                }
            })
            function addactive() {
                $.ajax({
                    url:"",
                    success:function (data) {
                        
                    }
                })
            }
        })
    </script>
<body>
<div id="result">
    <table id="sale" border="1">
        <tr><td>编号</td><td>数量</td></tr>
    </table>
    <a href="http://192.168.1.44:8095/aaa">添加活动</a>
</div>
</body>
</html>